html {
  min-height: 100%;

  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  min-height: 100vh;

  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;

  color: var(--color-text);
  background-color: var(--color-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* * {
  border: 1px solid yellow;
} */

/* ---------------------------------
   Typography utilities
--------------------------------- */

.font-primary {
  font-family: var(--font-primary);
}

.font-editorial {
  font-family: var(--font-editorial);
  font-optical-sizing: auto;
}

/* ----------------------------------
   Selection
   --------------------------------- */

::selection {
  color: var(--selection-light);
  background: var(--selection-dark);
}

/* ---------------------------------
    Hide header
--------------------------------- */

.motion-preload [data-motion-preload] {
  opacity: 0;
  visibility: hidden;
}
